
<form action="/shorten" method="post">
  <div class="row">
    <div class="col-auto mx-auto">
      <p>
        <input type="text" placeholder="請輸入網址" name="url" size="50" required>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mx-auto">
      <button class="btn btn-outline-primary" type="submit">縮址</button>
    </div>
  </div>
</form>  