<div class="container">
  <form action="/shorten" method="post">
    <p>
      <input type="text" placeholder="請輸入網址" name="url" size="50" required>
    </p>
    <button type="submit">縮址</button>
  </form>  
</div>