<form action="/shorten" method="post">
  <div class="row">
    <div class="col-auto mx-auto">
      <p>
        <span class="text-secondary">
          請使用以下短址：
        </span>
        <a class="url-text" href="{{urlShortener.shortUrl}}">{{urlShortener.shortUrl}}</a>
      </p>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-auto mx-auto">
    <button class="btn btn-primary copy-button" type="button">Copy</button>
  </div>
</div>

<script>
  const btnCopy = document.querySelector('.copy-button')
  btnCopy.addEventListener('click', function () {
    const range = document.createRange()
    const texts = document.querySelector('.url-text')
    range.selectNode(texts)

    const selection = window.getSelection()
    selection.removeAllRanges()
    selection.addRange(range)
    document.execCommand('copy')
    alert(`已複製網址: ${selection.toString()}`)
    selection.removeAllRanges()
  })
</script>