<div class="container">
  <p>
    <span class="text-secondary">
      請使用以下短址：
    </span>
    <a href="{{urlShortener.shortUrl}}">{{urlShortener.shortUrl}}</a>
    {{!-- {{urlShortener.shortUrl}} --}}
  </p>
</div>

